.score-header {
  text-align: center;
}
.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pause-button {
  text-transform: none;
}
.cell {
  display: inline-block;
  height: 5vh;
  width: 5vh;
  outline: 1px solid rgb(175, 216, 248);
}

.snake-cell {
  background-color: green;
}

.food-cell {
  background-color: orange;
}